@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: antiquewhite;
    font-family: "Outfit", sans-serif;
}

.message , .resolve{
    font-size: 3rem;
    color: red;
    margin-top: 5rem;
    font-weight: bold;
}